@import "tailwindcss";

@layer components {
  /* The "DNA" of your Design System */
  .neo-border {
    @apply border-2 border-black;
  }
  
  .neo-shadow {
    @apply shadow-[4px_4px_0px_0px_rgba(0,0,0,1)];
  }

  .neo-shadow-hover {
    @apply hover:shadow-[6px_6px_0px_0px_rgba(0,0,0,1)] hover:-translate-y-[2px] hover:-translate-x-[2px];
  }

  .neo-press {
    @apply active:shadow-none active:translate-x-[2px] active:translate-y-[2px] transition-all duration-200;
  }
  
  /* Classic = Sharp | Pop = Rounded */
  .shape-classic {
    @apply rounded-sm;
  }
  .shape-pop {
    @apply rounded-xl;
  }
}

/* Global Font Settings */
* {
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  @apply bg-[#F3F4F6] text-black;
  -webkit-font-smoothing: antialiased;
}




@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-66.66%); }
}